.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.25rem;
  color: gray;
  cursor: pointer;

  &:hover {
    color: #000;
  }

  .headerOption__icon {
    object-fit: contain;
    height: 1.563rem !important;
    width: 1.563rem !important;
  }

  .headerOption__title {
    font-size: 0.75rem;
    font-weight: 400;
  }
}
