.header {
  background-color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding: 0.625rem 0;
  width: 100%;
  z-index: 999;

  .header__left {
    display: flex;
    img {
      object-fit: contain;
      height: 2.5rem;
      margin-right: 0.625rem;
    }

    .header__search {
      padding: 0.625rem;
      display: flex;
      align-items: center;
      border-radius: 0.313rem;
      color: gray;
      background-color: #eef3f8;

      input {
        outline: none;
        border: none;
        background: none;
      }
    }
  }

  .header__right {
    display: flex;
  }
}
