.post {
  background-color: #fff;
  padding: 0.938rem;
  margin-bottom: 0.625rem;
  border-radius: 0.625rem;

  .post__header {
    display: flex;
    margin-bottom: 0.625rem;

    .post__info {
      margin-left: 0.625rem;

      h2 {
        font-size: 0.938rem;
      }

      p {
        font-size: 0.75rem;
        color: gray;
      }
    }
  }

  .post__body {
    overflow-wrap: anywhere;

    p {
      font-size: 0.938rem;
    }
  }

  .post__buttons {
    display: flex;
  }
}
