.postOption {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 0.938rem;
  color: gray;
  padding: 0.625rem;

  &:hover {
    background-color: whitesmoke;
    border-radius: 0.625rem;
  }

  .postOption__icon {
    color: gray;
  }

  .postOption__title {
    margin-left: 0.313rem;
    font-size: 1rem;
  }
}
