.sidebar {
  position: sticky;
  top: 5rem;
  flex: 0.2;
  border-radius: 0.625rem;
  text-align: center;
  height: fit-content;

  .sidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    background-color: #fff;
    padding-bottom: 0.625rem;

    img {
      margin-bottom: -1.25rem;
      width: 100%;
      height: 6rem;
      object-fit: cover;
      border-top-left-radius: 0.625rem;
      border-top-right-radius: 0.625rem;
    }
    .sidebar__avatar {
      margin-bottom: 0.625rem;
    }

    h2 {
      font-size: 1rem;
      font-weight: 500;
    }

    h4 {
      color: gray;
      font-size: 0.75rem;
      font-weight: 400;
    }
  }

  .sidebar__stats {
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border: 1px solid lightgray;
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
    background-color: #fff;

    .sidebar__stat {
      margin-top: 0.625rem;
      display: flex;
      justify-content: space-between;

      p {
        color: gray;
        font-size: 0.813rem;
        font-weight: 500;
      }

      .sidebar__statNumber {
        font-weight: 600;
        color: #705df2 !important;
      }
    }
  }

  .sidebar__bottom {
    text-align: left;
    padding: 0.625rem;
    border: 1px solid lightgray;
    background-color: #fff;
    border-radius: 0.625rem;
    margin-top: 0.625rem;

    .sidebar__bottomTitle {
      font-size: 0.813rem;
      padding-bottom: 0.625rem;
    }

    .sidebar__trendingItem {
      display: flex;
      font-size: 0.813rem;
      color: gray;
      cursor: pointer;
      margin-bottom: 0.313rem;
      padding: 0.313rem;

      &:hover {
        background-color: whitesmoke;
        border-radius: 0.625rem;
        cursor: pointer;
        color: #000;
      }

      .sidebar__hash {
        margin-left: 0.313rem;
        margin-right: 0.313rem;
      }
    }
  }
}
