.widgets {
  position: sticky;
  top: 5rem;
  flex: 0.2;
  background-color: #fff;
  border-radius: 0.625rem;
  border: 1px solid lightgray;
  height: fit-content;
  padding-bottom: 0.625rem;

  .widgets__Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem;

    h2 {
      font-size: 1rem;
      font-weight: 400;
    }
  }

  .widgets__article {
    display: flex;
    padding: 0.625rem;
    cursor: pointer;

    &:hover {
      background-color: whitesmoke;
    }

    .widgets__articleLeft {
      color: #705df2;
      margin-right: 0.313rem;

      .MuiSvgIcon-root {
        font-size: 0.75rem;
      }
    }
    .widgets__articleLeft {
      flex: 1;

      h4 {
        font-size: 0.875rem;
      }

      p {
        font-size: 0.75rem;
        color: gray;
      }
    }
  }
}
