.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  .app__body {
    display: flex;
    margin-top: 2.188rem;
    max-width: 1200px;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
}
